**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.env
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/build
**/dist
**/.bun

LICENSE
README.md
CONTRIBUTING.md
