@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--Primary: #0effbd;
	--Primary-Hover: rgb(52, 211, 153);
	--Secondary: #005eff;
	--Secondary-Hover: rgb(29, 78, 216);
	--BG: #000715;
	--Highlight-1: hsl(220deg 97.47% 11.24%);
	--Highlight-2: #022683;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 25px;
	background: var(--Primary);
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	cursor: none !important;
}
body {
	background: var(--BG);
	color: #fff;
	overflow-x: hidden;
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 400;
}
*::selection {
	background: var(--Primary);
	color: var(--Highlight-1);
}
img::selection {
	background: none;
}
*:focus {
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
b {
	font-weight: 600;
}
h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2.6rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.15rem;
}

small {
	font-size: 0.9rem;
}
p {
	font-size: 1.3rem;
	line-height: 2.2rem;
}
ul,
ol,
dl {
	list-style: initial;
}
ul ul {
	list-style: circle;
	padding-left: 25px;
}
ol ol {
	padding-left: 25px;
}
*::marker {
	color: var(--Primary);
}
img {
	border-radius: 12px;
	transition: all 0.3s ease-in-out;
}
img:hover {
	scale: 1.03;
	border-radius: 5px;
}
form,
input,
textarea {
	background: var(--Highlight-1);
	border-radius: 5px;
	color: #fff;
	resize: none;
	caret-color: var(--Primary);
	accent-color: var(--Primary);
}
article a {
	color: var(--Primary);
}
input::placeholder,
textarea::placeholder {
	color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: all 5000000s ease-in-out 0s;
}
.wrapper {
	@apply flex min-h-[93.7vh] w-full flex-col flex-wrap items-center justify-center;
}
[data-tooltip] {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
[data-tooltip]::before,
[data-tooltip]::after {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s ease-in;
	visibility: hidden;
	margin-bottom: 5px;
}
[data-tooltip]::before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 0 8px;
	border-color: rgb(100, 116, 139) transparent transparent transparent;
	bottom: 132%;
}
[data-tooltip]::after {
	content: attr(data-tooltip);
	font-size: 1rem;
	color: #fff;
	background: rgb(100, 116, 139);
	padding: 2px 10px;
	width: max-content;
	max-width: 200px;
	border-radius: 4px;
	white-space: nowrap;
	bottom: calc(100% + 14px);
	text-align: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
[data-tooltip]:hover::before,
[data-tooltip]:hover::after,
[data-tooltip]:focus::before,
[data-tooltip]:focus::after {
	opacity: 1;
	visibility: visible;
}
.loader {
	@apply box-border inline-block h-5 w-5 animate-[rotation_.5s_linear_infinite] rounded-[50%] border-r-[3px] border-t-[3px] border-solid border-r-transparent border-t-background;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
